$background: #222;
$text-color: white;
$breakpoints: (phone: 640px, 
               tablet: 768px, 
               desktop: 1024px) !default;
@import url(https://fonts.googleapis.com/css2?family=Fira+Code&display=swap);
@import './media.scss';

html
{
    height: 100%;
}
body
{
    color: $text-color;
    font-family: 'Fira Code', monospace;
    background-color: #111;
    font-size: 1.1rem;
    -webkit-text-size-adjust: 200%;
}

#header
{
    display: flex;
    padding: .5rem;
    background-color: #333;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    justify-content: space-between;
    @include media("<desktop", "retina2x") {
        height: 6rem;
        span
        {
            font-size: 25pt;
        }
    }
    
}

#terminal-content
{
    padding: .5rem;
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 2.5rem;
    @include media("<desktop", "retina2x") {
        top: 7rem;
    }

}

#terminal-content::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#terminal-content::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
#terminal-content::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}
/* Handle on hover */
#terminal-content::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


#terminal-text
{
    display: flex;
    flex-direction: column;
}
#terminal
{
    background-color: $background;
    position: absolute;
    top: 50%;
    right: 1rem;

    transform: translate(0, -50%);
    height: 80%;
    width: 80%;
    
    border-radius: .5rem;
    opacity: 1;
    transition: opacity .2s ease-in;
}

@include media("<desktop") {
    body
    {
        background-color: black;
    }
    #terminal{
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    transform: none;
    }
  }

  p{
      white-space: pre-wrap;

  }

  #terminal-input
  {
      white-space: pre;
  }
#terminal-input::before
{
    content: ">";
    padding-right: 5px;
}

#terminal-input::after
{
    content: " ";
    white-space: pre;
    border-left: 2px solid white;
    animation: blinker 1s linear infinite;
}

#faketext
{
    position: absolute;
    right: 0;
    left: 0;
    opacity: 0;
    resize: none;
}
a{
    text-decoration: underline;
    display: inline;
    color: inherit;
}
#terminal-text
{
    p{
        margin: 0;
    }
}
#header-buttons
{
    display: flex;
    flex-direction: row;
    align-items: center;
    :nth-child(1)
    {
        background-color: #ff2400;
    }    
    :nth-child(2)
    {
        background-color: orange;
    }    
    :nth-child(3)
    {
        background-color: green;
    }
}

#close-button
{
    cursor: pointer;
}

.hide
{
    opacity: 0 !important;
}

.hidden
{
    display: none;
}

.header-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: .5rem;
    border-radius: .4rem;
    box-shadow: 0px 1px 10px black;
    background-color: #222;
    @include media("<desktop", "retina2x") {
        height: 5rem;
        width: 5rem;
        border-radius: 2rem;
        margin-left: 2rem;
    }
    
}

#loader-container
{
    animation: fadeOut 1s forwards;
    animation-delay: 3s;
    background-color: rgb(70, 21, 21);
    position: absolute;
    
    top: 0;
    right:0;
    left: 0;
    bottom: 0;
}

#loader
{
    position: absolute;
    margin: auto;
    top: 0;
    right:0;
    left: 0;
    bottom: 0;
    width: 10rem;
    height: 12rem;
}

#os-symbol
{
    width: 10rem;
    height: 10rem;
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 1s;
}

#os-dots
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 3rem;
    @for $i from 1 to 10 {
        :nth-child(#{$i}) { animation-delay: $i * 0.25s + 1s; }
      }
    div
    {
        background-color: white;
        border-radius: 1rem;
        width: 1rem;
        height: 1rem;
        opacity: 0;
        animation: fadeIn .5s infinite alternate;
    }
}

@keyframes fadeOut {
    100% {opacity: 0;display: none;}
}

@keyframes fadeIn 
{
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes fadeInRepeat { 
    from { opacity: 0; } 
  }

.glow
{
  text-shadow:1px 1px 4px, 1px 1px 4px ;
}

.red
{
    color: #ff2400;
}


@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  @keyframes typewriter {
      to{
          left:100%;
      }
  }


  //Home screen

  #home-screen
  {
      opacity: 0;
      animation: fadeIn 1s forwards;
      animation-delay: 3s;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #191C21;
  }
  #home-screen-content
  {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 10%;
  }

  #footer
  {
      display: flex;
      align-items: center;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #111;
      height: 10%;     
      border-top-left-radius: .5rem;
      border-top-right-radius: .5rem;
      @include media("<desktop")
      {
          justify-content: center;
      }
  }
  #start-button
  {
      height: 2.5rem;
      width: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 1rem;
      @include media("<desktop")
          {
              
      padding-left: 0rem;
          }

      img
      {
          width: 3.5rem;
          height: 3.5rem;
          @include media("<desktop", "retina2x")
          {
              
          width: 7rem;
          height: 7rem;
          }
          text-shadow: 0px 1px 10px black;
      }
  }

  #home-text
  {
      display: flex;
      position: absolute;
      top: 1rem;
      right: 1rem;
      flex-direction: column;
      align-items: flex-end;

  }
  #welcome-message
  {
      color: white;
      font-size: 25pt;
  }

  #time-text
  {
    color: white;
    font-size: 25pt;
  }

  #terminal-icon
  {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      svg
      {
          margin-left: 15px;
          width: 10rem;
          height: 10rem;
          justify-content: center;
          @include media("<desktop")
            {
                width: 20rem;
                height: 20rem;
            }
          filter: drop-shadow(0 0 20px black);
          cursor: pointer;
          :hover
          {
            stroke:#aaa;
            fill: #aaa;
          }
      }

  }

@include media("<desktop")
{
    #welcome-message
    {
        float: none;
        color: white;
        font-size: 25pt;
        span
        {
            display: flex;
            justify-content: center;
        }
    }
    #home-text
    {
        align-items: center;
        bottom: 0rem;
        top: initial;
        right: 0;
        left: 0;
    }
}